img{
display: block;

}
ul{
    list-style-type: none;

}
.one{
background-color: blue;

}
.two{
    background-color: red;
}
.three{
    background-color: green;
}
.four{
    background-color: blue;
}
.five{
    background-color: rgb(182, 21, 21);
}
.six{
    background-color: green;
}

.table{
    border: lightcoral;
   
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: rgb(216, 19, 19);
}
img{
    border: lightcoral;
}
body{
    background-color: lightseagreen;
}

/* الخلفيه مو انا مسويته بس تزين لا اكثر */
